:root {
    --blackcoffee: #3C3744;
    --darkblue: #6578DA;
    --blue: #3D52D5;
    --grey: #B4C5E4;
    --white: #FBFFF1;
    --heading: 600;
    --subheading: 400;
    --normal: 300;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--blackcoffee);
    font-size: 16px;
    width: 100%;
}

/* Typography*/

.title { 
    font-weight: var(--heading); 
    font-size:2.5em; 
    text-align: center;
    padding-top: 10px;
    margin: 1em 1em 0;
    color: var(--white);
}

.subtitle { 
     font-weight: var(--subheading);
     font-size: 2em; 
     text-align: center;
     padding-top: 10px;
     margin-bottom: 0.5em;
     color: var(--grey);
}

/* List items  */

ul > li {
    font-weight: var(--normal); 
}

ul { list-style-type: none; }

/* top portion  */

.container {
    background-color: rgba(255,255,255,0.3);
    text-align: left;
    padding: 5%;
}

/* enter tasks textbox + add task button  */

.input-with-button {
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* tasks  */

.task-container { text-align: center; }

ul {
    display: inline-block;
    text-align: left;
}

input {
    font-size: 1.2em;
    padding: 0.2em;
    border: 3px solid var(--grey);
    border-radius: 10px;
    outline: none;
    color: var(--blackcoffee);
    transition: border 0.3s;
}

#textbox {
    background-color: var(--grey);
    margin-right: 3px;
}

.input-empty {
    transition: .3s;
    border: 3px solid var(--blackcoffee);
    border-radius: 10px;
    outline: none;
}

.input-with-button button {
    background-color: var(--darkblue);
    cursor: pointer;
    border: 3px solid var(--darkblue);
    border-radius: 10px;
    padding: 0 5px;
    margin-left: 2px;
    outline: none;
}

.input-with-button button:hover {
    background-color: var(--blue);
}

ul li {
    font-size: 1.25em;
    color: var(--white);
    display: flex;
    padding: 5px;
}

input.chkbox {
    height: 20px;
    width: 20px;
    margin-right: 0.33em;
}

li.done { 
    color: #607d8b;
    text-decoration: line-through;
}